.contact{
    margin: 0 5%;
    text-align: center;
}

.contact ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.contact li{
    margin: 0 25px;
}

.contact h1{
    font-size: 35px;
    margin-bottom: 25px;
}