.header{
    margin: 0 0 200px 5% ;
}

.header h1{
    margin-bottom: 200px;
}

.header div h1{
    text-align: center;
    font-family: "DotGothic16", sans-serif;
    font-weight: bold;
}

.header div ul{
    list-style: none;
    rotate: 270deg;
    position: fixed;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
}

.header div li{
    margin-right: 15px;
}

.header div a{
    color: #888 !important;
    text-decoration: none;
}

.header div a:hover{
    color: #222;
    font-weight: bolder;
    transition-duration: 1s;
}

