.projects{
    margin: 0 5%;
    margin-bottom: 100px;
}

.projects h1{
    display: inline-block;
    margin: 0 5% 0 90%;
    margin-bottom: 100px;
    border-bottom: 3px solid black;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

